

body {
  background: rgb(169,228,247);
  height: 100%;
  overflow:hidden;

}

#road {
  width: 100%;
  height: 150px;
  background-color: #4a3e4a;
  position: absolute;
  bottom: 0;
  border-top: 10px #626473 solid;
}

#road ul {
  width: 2000%; 
  list-style: none;
}

#road li {
  width: 70px;
  height: 10px;
  background-color: #5f555e ; 
  float: left;
  margin-top: 55px;
  margin-right: 63px;
  overflow: hidden;
}

#castleContainer {
  width:100%;
  height: 400px;
  background-color: #fff;
  position: absolute;
  bottom:160px;
}

#grass {
  border-bottom: 50px solid #70a155;
  border-left: 50px solid transparent;
  height: 0;
  width: 80%;
  position: absolute;
  right: 0;
  top: 350px

 
}

#wall {
  width: 80%;
  height: 70px;
  background-color: #995a50;
  position: absolute;
  right: 0;
  top: 280px;
}

#block1 {
  width:100px;
  height:70px;
  background-color: #995a50;
  position:absolute;
  left: 170px;
  top: 232px;
  border-top: 3px solid #fff;
}

#block2 {
  width:100px;
  height:70px;
  background-color: #995a50;
  position:absolute;
  left: 170px;
  top: 159px;
  border-top: 3px solid #fff;
}


#bus {
  width: 410px;
  height: 270px;
  margin: 250px auto;
  position:relative;
  animation: bus 5s ease-in infinite;

}

#busMiddel {
  width: 410px;
  height: 65px; 
  background-color: #eaeaea;
  border-bottom: 10px inset #0676f4;
}

#busWindowsMiddel {
  width: 366px;
  height: 50px;
  background-color: #658492;
  margin: 25px 0 0 34px;
  position: absolute;
  border-top: 10px inset #86A7C2;
  border-left: 10px inset #86A7C2;  
}

.busWindowsShadow {
  width: 10px;
  height: 50px;
  margin-left: 40px;
  border-left: 14px inset #86A7C2;
}

.busWindowsShadow1 {
  width: 10px;
  height: 50px;
  margin-left: 105px;
  margin-top: -50px;
  border-left: 14px inset #86A7C2;
}

.busWindowsShadow2 {
  width: 10px;
  height: 50px;
  margin-left: 165px;
  margin-top: -50px;
  border-left: 14px inset #86A7C2;
}

.busWindowsShadow3 {
  width: 10px;
  height: 50px;
  margin-left: 225px;
  margin-top: -50px;
  border-left: 14px inset #86A7C2;
}

.busWindowsShadow4 {
  width: 10px;
  height: 0px;
  margin-left: 295px;
  margin-top: -50px;
  border-left: 14px inset #86A7C2;
}

#busBottom {
  width: 410px;
  height: 40px;
  background-color: #eaeaea;
  border-top: 20px inset #0676f4;
}


#busWindowsBottom {
  width: 35px;
  height: 90px;
  background-color: #658492;
  margin: -60px 0 0 340px;
  position: absolute;
  border-left: 10px inset #86A7C2;
}

#wheelLeft {
  width: 30px;
  height: 30px;
  background-color: #514552;
  border-radius: 50%;
  border: 10px #3a3040 solid;
  position: absolute;
  margin: -30px 0 0 100px;
}

#wheelRight {
  width: 30px;
  height: 30px;
  background-color: #514552;
  border-radius: 50%;
  border: 10px #3a3040 solid;
  position: absolute;
  margin: -30px 0 0 310px;
}

@keyframes bus {
 from {
   margin-left: -410px;
 }
 to {
   margin-left: 100%;
 }
} 